[submodule "lib/forge-stdd"]
	path = lib/forge-stdd
	url = https://github.com/foundry-rs/forge-std.git
[submodule "lib/solmatee"]
	path = lib/solmatee
	url = https://github.com/transmissions11/solmate.git
[submodule "lib/chainlink-brownie-contractss"]
	path = lib/chainlink-brownie-contractss
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts.git
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts.git
